* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 10px;
}
body{
    display: flex;
    justify-content: space-around;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    width: 40%;
    height: 70%;
    border: 1px solid black;
    border-radius: 0%;
}

.chatbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    padding: 1%;
    background-color: white;
    overflow-y: scroll;
}

.chat-send {
    align-self: flex-end;
    color: black;
    font-weight: bold;
    border-radius: 3px;
    max-width: 80%;
    height: auto;
    padding: 1%;
    margin-top: 5px;
}

.message {
    display: flex;
    flex-direction: row;
    height: 10%;
}

.message input {
    border: none;
    width: 70%;
}

.message input:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.message button {
    width: 30%;
    border: none;
    cursor: pointer;
}