body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.padding {
    margin: 1px 0 1px 0;
}

.container1, .container2 {
    padding: 5px;
    width: 75%;
    max-width: 80%;
}

.container1 {
    border-radius: 15px;
}

.container2 {
    border-radius: 5px;
}

label {
    padding: 5px;
    font-weight: bold;
}

#form {
    width: 100%;
    padding: 1rem;
    border-radius: 15px;
    font-size: 12px;
    box-sizing: border-box;
}

.bungkushasil {
    width: 100%;
    max-height: 100px;
    padding: 1rem;
    border-radius: 5px;
    font-size: 12px;
    box-sizing: border-box;
    overflow-y: scroll;    
}

#form h1 {
    color: black;
    text-align: center;
}

#form button {
    padding: 1rem;
    margin-top: 10px;
    width: 20%;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
	border-radius: 20px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
    box-sizing: border-box;
}

.input-control input:focus {
    outline: 0;
}

p {
    margin-top: 2px;
    margin-right: 3px;
    font-size: 11px;
    float: right;
}